CREATE DATABASE QUANLIBANHANG;
GO
USE QUANLIBANHANG;
SET DATEFORMAT DMY
/*
			|--------------------------------------------------------------------------------------------------|
			|							BẢNG PHÂN CÔNG NHIỆM VỤ												   |
			|-------------------|-------------------------------|----------------------------------------------|
			|	MSSV			|	Tên							|	Nhiệm vụ								   |
			|--------------------------------------------------------------------------------------------------|
			|	16130450		|	Nguyễn Bá Ngũ Luân			|	Làm hết phần I và II					   |
			|	16130538 		| 	Lê Thanh Quyền				|	Làm hết phần I và II					   |
			|	16130692		|	Nguyễn Hoàng Việt			|	Làm từ câu 1-15(III)					   |
			|	16130312		|	Đặng Văn Đa					|	Làm từ câu 16-30(III)					   |
			|	16130326		|	Trần Thanh Điền				|	Làm từ câu 31-45 và tổng hợp bài hoàn chỉnh|
			|-------------------|-------------------------------|----------------------------------------------|
	 */
--I. Ngôn ngữ định nghĩa dữ liệu (Data Definition Language):
	--Câu 1: Tạo các quan hệ và khai báo các khóa chính, khóa ngoại của quan hệ.
CREATE TABLE KHACHHANG (MAKH CHAR(4) NOT NULL,
						HOTEN VARCHAR(40) NULL,
						DCHI VARCHAR(50) NULL,
						SODT VARCHAR(20) NULL,
						NGSINH SMALLDATETIME NULL,
						NGDK SMALLDATETIME NULL,
						DOANHSO MONEY NULL,
						CONSTRAINT PRIMARYKEY1 PRIMARY KEY (MAKH));
CREATE TABLE NHANVIEN(MANV CHAR(4) NOT NULL,
						HOTEN VARCHAR(40) NULL,
						SODT VARCHAR(20) NULL,
						NGVL SMALLDATETIME NULL,
						CONSTRAINT PRIMARYKEY2 PRIMARY KEY(MANV));
CREATE TABLE SANPHAM(MASP CHAR(4) NOT NULL,
					TENSP VARCHAR(40) NULL,
					DVT VARCHAR(20) NULL,
					NUOCSX VARCHAR(40) NULL,
					GIA MONEY NULL,
					CONSTRAINT PRIMARYKEY3 PRIMARY KEY(MASP));
CREATE TABLE HOADON(SOHD INT NOT NULL,
					NGAYHD SMALLDATETIME NULL,
					MAKH CHAR(4) NULL,
					MANV CHAR(4) NULL,
					TRIGIA MONEY NULL,
					CONSTRAINT PRIMARYKEY4 PRIMARY KEY(SOHD),
					CONSTRAINT FOREIGNKEY1 FOREIGN KEY(MAKH) REFERENCES KHACHHANG(MAKH),
					CONSTRAINT FOREIGNKEY2 FOREIGN KEY(MANV) REFERENCES NHANVIEN(MANV));
CREATE TABLE CTHD(SOHD INT NOT NULL,
					MASP CHAR(4) NOT NULL,
					SL INT NULL,
					CONSTRAINT FOREIGNKEY3 FOREIGN KEY(SOHD) REFERENCES HOADON(SOHD),
					CONSTRAINT FOREIGNKEY4 FOREIGN KEY(MASP) REFERENCES SANPHAM(MASP));

	--CÂU 2: THÊM VÀO THUỘC TÍNH GHICHU CÓ KIỂU DỮ LIỆU VARCHAR(20) CHO QUAN HỆ SANPHAM.
ALTER TABLE SANPHAM ADD GHICHU VARCHAR(20) NULL;
	-- CÂU 3: THÊM VÀO THUỘC TÍNH LOAIKH CÓ KIỂU DỮ LIỆU LÀ TINYINT CHO QUAN HỆ KHACHHANG.
ALTER TABLE KHACHHANG ADD LOAIKH TINYINT NULL;
	-- CÂU 4: SỬA KIỂU DỮ LIỆU CỦA THUỘC TÍNH GHICHU TRONG QUAN HỆ SANPHAM THÀNH VARCHAR(100).
ALTER TABLE SANPHAM ALTER COLUMN GHICHU VARCHAR(100) NULL;
	-- CÂU 5: XÓA THUỘC TÍNH GHICHU TRONG QUAN HỆ SANPHAM.
ALTER TABLE SANPHAM DROP COLUMN GHICHU;
	-- CÂU 6: LÀM THẾ NÀO ĐỂ THUỘC TÍNH LOAIKH TRONG QUAN HỆ KHACHHANG CÓ THỂ LƯU CÁC GIÁ TRỊ LÀ: “VANG LAI”, “THUONG XUYEN”, “VIP”, ...
ALTER TABLE KHACHHANG ALTER COLUMN LOAIKH VARCHAR(20) NULL;
	-- CÂU 7: ĐƠN VỊ TÍNH CỦA SẢN PHẨM CHỈ CÓ THỂ LÀ (“cay”,”hop”,”cai”,”quyen”,”chuc”)
ALTER TABLE SANPHAM ADD CONSTRAINT SANPHAM_DVT CHECK(DVT IN('cay','hop','cai', 'quyen','chuc'));
	-- CÂU 8: GIÁ BÁN CỦA SẢN PHẨM TỪ 500 ĐỒNG TRỞ LÊN.
ALTER TABLE SANPHAM ADD CONSTRAINT SANPHAM_GIA  CHECK(GIA >= 500);
	-- CÂU 9: MỖI LẦN MUA HÀNG, KHÁCH HÀNG PHẢI MUA ÍT NHẤT 1 SẢN PHẨM.
ALTER TABLE CTHD ADD CONSTRAINT CTHD_SL CHECK (SL >= 1)
	
--II. Ngôn ngữ thao tác dữ liệu (Data Manipulation Language):

		-- Câu 1: Nhập dữ liệu cho các bảng
SET DATEFORMAT DMY
INSERT INTO NHANVIEN VALUES( 'NV01', 'Nguyen Nhu Nhut', '0927345678', '13.4.2006');
INSERT INTO NHANVIEN VALUES( 'NV02', 'Le Thi Phi Yen', '0987567390', '21.4.2006');
INSERT INTO NHANVIEN VALUES( 'NV03', 'Nguyen Van B', '0997047382', '27.4.2006');

INSERT INTO SANPHAM VALUES('BC01', 'But chi', 'cay', 'Singapor', 3000);
INSERT INTO SANPHAM VALUES('BC02', 'But chi', 'cay', 'Singapor', 5000);
INSERT INTO SANPHAM VALUES('BC03', 'But chi', 'cay', 'Singapor', 3500);
UPDATE SANPHAM SET GIA=20000 WHERE MASP='ST05';

INSERT INTO KHACHHANG VALUES  ( 'KH01', 'Nguyen Van A', '731 Tran Hung Dao, Q5, TPHCM', '08823451', '22.10.1960', '22.7.2006', 13060000, NULL);
INSERT INTO KHACHHANG VALUES  ( 'KH02', 'Tran Ngoc Han', '23/5 Nguyen Trai, Q5, TPHCM', '0908256478', '3.4.1974', '30.7.2006', 280000, NULL);
INSERT INTO KHACHHANG VALUES  ( 'KH03', 'Tran Ngoc Linh', '45 Nguyen Canh Chan, Q1, TPHCM', '0938776266', '12.6.1980', '5.8.2006', 3860000, NULL);

INSERT INTO HOADON VALUES ( 1001, '23.7.2006', 'KH01','NV01', 320000);
INSERT INTO HOADON VALUES ( 1002, '12.8.2006', 'KH01','NV02', 840000);
INSERT INTO HOADON VALUES ( 1003, '23.8.2006', 'KH02','NV01', 100000);

INSERT INTO CTHD VALUES(1001, 'TV02', 10);
INSERT INTO CTHD VALUES(1001, 'ST01', 5);
INSERT INTO CTHD VALUES(1001, 'BC01', 5);

 -- Câu 2: a/Tạo quan hệ SANPHAM1 chứa toàn bộ dữ liệu của quan hệ SANPHAM.
CREATE TABLE SANPHAM1(MASP CHAR(4) NOT NULL,
					TENSP VARCHAR(40) NULL,
					DVT VARCHAR(20) NULL,
					NUOCSX VARCHAR(40) NULL,
					GIA MONEY NULL,
					CONSTRAINT PRIMARYKEY31 PRIMARY KEY(MASP));
INSERT INTO SANPHAM1 
	SELECT * FROM SANPHAM;
-- Câu 2: b/Tạo quan hệ KHACHHANG1 chứa toàn bộ dữ liệu của quan hệ KHACHHANG.*/
CREATE TABLE KHACHHANG1 (MAKH CHAR(4) NOT NULL,
						HOTEN VARCHAR(40) NULL,
						DCHI VARCHAR(50) NULL,
						SODT VARCHAR(20) NULL,
						NGSINH SMALLDATETIME NULL,
						NGDK SMALLDATETIME NULL,
						DOANHSO MONEY NULL,
						LOAIKH VARCHAR(20) NULL,
						CONSTRAINT PRIMARYKEY123 PRIMARY KEY (MAKH));
INSERT INTO KHACHHANG1 
	SELECT * FROM KHACHHANG;
	
	-- Câu 3: Cập nhật giá tăng 5% đối với những sản phẩm do “Thai Lan” sản xuất (cho quan hệ SANPHAM1)
UPDATE SANPHAM1 SET GIA= GIA +(GIA*0.5) WHERE NUOCSX='Thai Lan';
	-- Câu 4:Cập nhật giá giảm 5% đối với những sản phẩm do “Trung Quoc” sản xuất có giá từ 10.000 trở xuống (cho quan hệ SANPHAM1).
UPDATE SANPHAM1 SET GIA= GIA +(GIA*0.5) WHERE NUOCSX='Trung Quoc' AND GIA <= 10000;
	-- Câu 5: Cập nhật giá trị LOAIKH là “Vip” đối với những khách hàng đăng ký thành viên trước ngày
--	/1/2007 có doanh số từ 10.000.000 trở lên hoặc khách hàng đăng ký thành viên từ 1/1/2007 trở về
--	sau có doanh số từ 2.000.000 trở lên (cho quan hệ KHACHHANG1). */
	SET DATEFORMAT DMY;
UPDATE KHACHHANG1 SET LOAIKH = 'Vip'
			WHERE (NGDK < '1.1.2007' AND DOANHSO >= 10000000) OR ( NGDK > '1.1.2007' AND DOANHSO >= 2000000);
--) III. Ngôn ngữ truy vấn dữ liệu có cấu trúc:
	-- Câu 1: In ra danh sách các sản phẩm (MASP,TENSP) do “Trung Quoc” sản xuất.
SELECT MASP, TENSP FROM SANPHAM WHERE NUOCSX='Trung Quoc';
	-- Câu 2: In ra danh sách các sản phẩm (MASP, TENSP) có đơn vị tính là “cay”, ”quyen”.
SELECT MASP, TENSP FROM SANPHAM WHERE DVT='cay' OR DVT = 'quyen';
	-- Câu 3: In ra danh sách các sản phẩm (MASP,TENSP) có mã sản phẩm bắt đầu là “B” và kết thúc là “01”.
SELECT MASP, TENSP FROM SANPHAM WHERE MASP LIKE 'B%01';
	-- Câu 4: In ra danh sách các sản phẩm (MASP,TENSP) do “Trung Quốc” sản xuất có giá từ 30.000 đến 40.000.
SELECT MASP, TENSP FROM SANPHAM WHERE NUOCSX='Trung Quoc' AND GIA BETWEEN 30000 AND 40000;
	-- Câu 5: In ra danh sách các sản phẩm (MASP,TENSP) do “Trung Quoc” hoặc “Thai Lan” sản xuất có giá từ 30.000 đến 40.000.
SELECT MASP, TENSP FROM SANPHAM WHERE NUOCSX IN('Trung Quoc', 'Thai Lan') AND GIA BETWEEN 30000 AND 40000;
	-- Câu 6: In ra các số hóa đơn, trị giá hóa đơn bán ra trong ngày 1/1/2007 và ngày 2/1/2007.
SELECT SOHD, TRIGIA FROM HOADON WHERE NGAYHD = '1.1.2007' OR NGAYHD = '2.1.2007';
	-- Câu 7: In ra các số hóa đơn, trị giá hóa đơn trong tháng 1/2007, sắp xếp theo ngày (tăng dần) và trị giá của hóa đơn (giảm dần).
SELECT SOHD, TRIGIA FROM HOADON WHERE MONTH(NGAYHD) = 1 AND YEAR(NGAYHD) = 2007
	ORDER BY TRIGIA DESC, NGAYHD ASC;
	-- Câu 8: In ra danh sách các khách hàng (MAKH, HOTEN) đã mua hàng trong ngày 1/1/2007.
	SET DATEFORMAT DMY
		-- c1: ket bang
SELECT HOADON.MAKH, KHACHHANG.HOTEN FROM HOADON JOIN KHACHHANG ON HOADON.MAKH=KHACHHANG.MAKH
		WHERE NGAYHD='1.1.2007' AND HOADON.MAKH=KHACHHANG.MAKH;
		-- c2: subqueries
SELECT MAKH, HOTEN FROM KHACHHANG WHERE MAKH IN (SELECT MAKH FROM HOADON WHERE NGAYHD='1.1.2007');
	-- Câu 9: In ra số hóa đơn, trị giá các hóa đơn do nhân viên có tên “Nguyen Van B” lập trong ngày 28/10/2006. 
	SET DATEFORMAT DMY
		-- DUNG KET BANG
SELECT HOADON.SOHD, HOADON.TRIGIA FROM HOADON JOIN NHANVIEN ON HOADON.MANV = NHANVIEN.MANV
	WHERE NGAYHD='28.10.2006' AND NHANVIEN.HOTEN='Nguyen Van B';
		-- DUNG SUBQUERIES
SELECT SOHD, TRIGIA FROM HOADON WHERE NGAYHD = '28.10.2006' AND MANV IN (SELECT MANV FROM NHANVIEN 
	WHERE HOTEN='Nguyen Van B');
	-- Câu 10: In ra danh sách các sản phẩm (MASP,TENSP) được khách hàng có tên “Nguyen Van A” mua trong tháng 10/2006.
SELECT SANPHAM.MASP, SANPHAM.TENSP FROM HOADON JOIN KHACHHANG ON HOADON.MAKH=KHACHHANG.MAKH
										JOIN CTHD ON HOADON.SOHD=CTHD.SOHD
										JOIN SANPHAM ON SANPHAM.MASP=CTHD.MASP
	WHERE NGAYHD BETWEEN '1.10.2006' AND '31.10.2006' AND  HOTEN='Nguyen Van A' ;
	-- Câu 11: Tìm các số hóa đơn đã mua sản phẩm có mã số “BB01” hoặc “BB02”.
SELECT  DISTINCT SOHD FROM CTHD WHERE MASP IN('BB01', 'BB02'); 
	-- Câu 12: Tìm các số hóa đơn đã mua sản phẩm có mã số “BB01” hoặc “BB02”, mỗi sản phẩm mua với số lượng từ 10 đến 20.
SELECT  SOHD FROM CTHD WHERE MASP='BB01'AND SL BETWEEN 10 AND 20
	UNION SELECT  SOHD FROM CTHD WHERE MASP='BB02'AND SL BETWEEN 10 AND 20;
	-- Câu 13: Tìm các số hóa đơn mua cùng lúc 2 sản phẩm có mã số “BB01” và “BB02”, mỗi sản phẩm mua với số lượng từ 10 đến 20.
SELECT  SOHD FROM CTHD WHERE MASP='BB01'AND SL BETWEEN 10 AND 20
	INTERSECT SELECT  SOHD FROM CTHD WHERE MASP='BB02'AND SL BETWEEN 10 AND 20;
	-- Câu 14: In ra danh sách các sản phẩm (MASP,TENSP) do “Trung Quoc” sản xuất hoặc các sản phẩm được bán ra trong ngày 1/1/2007.
SELECT MASP, TENSP FROM SANPHAM WHERE NUOCSX='Trung Quoc'
	UNION SELECT SANPHAM.MASP,SANPHAM.TENSP FROM CTHD JOIN HOADON ON HOADON.SOHD = CTHD.SOHD
										JOIN SANPHAM ON SANPHAM.MASP=CTHD.MASP WHERE NGAYHD='1.1.2007';
	-- Câu 15: In ra danh sách các sản phẩm (MASP,TENSP) không bán được.
SELECT MASP, TENSP FROM SANPHAM WHERE MASP NOT IN (SELECT MASP FROM CTHD); 
	-- Câu 16: In ra danh sách các sản phẩm (MASP,TENSP) không bán được trong năm 2006.
SELECT MASP, TENSP FROM SANPHAM WHERE MASP NOT IN (SELECT MASP FROM CTHD JOIN HOADON ON HOADON.SOHD=CTHD.SOHD WHERE YEAR(NGAYHD)=2006);
	-- Câu 17: In ra danh sách các sản phẩm (MASP,TENSP) do “Trung Quoc” sản xuất không bán được trong năm 2006.
SELECT SANPHAM.MASP, SANPHAM.TENSP FROM SANPHAM WHERE NUOCSX='Trung Quoc'
INTERSECT SELECT MASP, TENSP FROM SANPHAM WHERE MASP NOT IN (SELECT MASP FROM CTHD JOIN HOADON ON HOADON.SOHD=CTHD.SOHD WHERE YEAR(NGAYHD)=2006);
	-- Câu 18: Tìm số hóa đơn đã mua tất cả các sản phẩm do Singapore sản xuất.
SELECT DISTINCT CT.SOHD  FROM CTHD CT WHERE NOT EXISTS(SELECT * FROM SANPHAM S WHERE NUOCSX = 'Singapore' AND NOT EXISTS(SELECT * 
					FROM CTHD C WHERE C.SOHD = CT.SOHD AND C.MASP = S.MASP))
	-- Câu 19: Tìm số hóa đơn trong năm 2006 đã mua ít nhất tất cả các sản phẩm do Singapore sản xuất.
SELECT H.SOHD FROM HOADON H WHERE YEAR(NGAYHD) = 2006 AND NOT EXISTS(SELECT * FROM SANPHAM S WHERE NUOCSX = 'Singapore'
					AND NOT EXISTS(SELECT * FROM CTHD CT WHERE CT.SOHD = H.SOHD AND CT.MASP = S.MASP))
	-- Câu 20: Có bao nhiêu hóa đơn không phải của khách hàng đăng ký thành viên mua?					
	-- Câu 21: Có bao nhiêu sản phẩm khác nhau được bán ra trong năm 2006.
SELECT MASP,COUNT(MASP) FROM CTHD WHERE MASP IN ( SELECT DISTINCT MASP FROM HOADON WHERE YEAR(NGAYHD)=2006)
	-- Câu 22: GIA TRI HOA DON CAO NHAT THAP NHAT LA BAO NHIEU
SELECT TRIGIA FROM HOADON WHERE TRIGIA = (SELECT MAX(TRIGIA) FROM HOADON);
	-- Câu 23: TRI GIA TRUNG BINH CUA CAC HOA DON BAN TRONG NAM 2006
SELECT AVG(TRIGIA) TRI_GIA_TRUNG_BINH_NAM_2006 FROM HOADON WHERE YEAR(NGAYHD)=2006; 
	-- Câu 24: TINH DOANH THU BAN HANG NAM 2006
SELECT SUM(TRIGIA) AS DOANH_THU_BAN_HANG_NAM_2006 FROM HOADON WHERE YEAR(NGAYHD)=2006;
	-- Câu 25: TIM SO HOA DON CO TRI GIA CAO NHAT NAM 2006
SELECT SOHD FROM HOADON WHERE TRIGIA = (SELECT MAX(TRIGIA)FROM HOADON WHERE YEAR(NGAYHD)=2006);
	-- Câu 26: TINH SO HOA DON CO TRI GIA CAO NHAT TRONG NAM 2006
SELECT HOTEN FROM KHACHHANG WHERE MAKH = (SELECT MAKH FROM HOADON WHERE TRIGIA = (SELECT MAX(TRIGIA) FROM HOADON WHERE YEAR(NGAYHD)=2006));
	 -- Câu 27: 3 KHACH HANG CO DANH SO CAO NHAT
SELECT TOP 3 * FROM KHACHHANG  ORDER BY DOANHSO DESC;
	-- Câu 28: IN MASP, TENSP CO GIA BAN BANG 1 TRONG 3 MUC GIA CAO NHAT
SELECT MASP, TENSP, GIA FROM SANPHAM WHERE GIA IN ( SELECT DISTINCT TOP 3 GIA ORDER BY GIA DESC);
	-- Câu 29: IN MASP, TENSP DO THAI LAN SX CO GIA BANG 1 TRONG 3 MUC GIA CAO NHAT (THEO GIA CUA TAT CA CAC SAN PHAM)
SELECT MASP, TENSP FROM SANPHAM WHERE GIA IN ( SELECT DISTINCT TOP 3 GIA ORDER BY GIA DESC) AND NUOCSX='Thai Lan';
SELECT * FROM SANPHAM
	-- Câu 30: IN MASP, TENSP DO TRUNG QUOC SX CO GIA BANG 1 TRONG 3 MUC GIA CAO NHAT (THEO GIA CUA TRUNG QUOC)
SELECT MASP, TENSP FROM SANPHAM WHERE NUOCSX='Trung Quoc' AND GIA IN (SELECT TOP 3 GIA FROM SANPHAM WHERE NUOCSX='Trung Quoc' ORDER BY GIA DESC);
	-- Câu 31: IN 3 KHACH HANG CO DOANH SO CAO NHAT (SAP XEP THEO KIEU XEP HANG)
SELECT TOP 3 * FROM KHACHHANG ORDER BY DOANHSO DESC;
	-- Câu 32: TINH TONG SO CAC SAN PHAM DO TRUNG QUOC SAN XUAT
SELECT COUNT(MASP) AS SAN_PHAM_DO_TRUNG_QUOC_SX FROM SANPHAM WHERE NUOCSX = 'Trung Quoc';
	-- Câu 33: TINH TONG SO SAM PHAM CUA TUNG NUOC SAN XUAT
SELECT NUOCSX, COUNT(*) AS SO_LUONG FROM SANPHAM GROUP BY NUOCSX;
	-- Câu 34: VOI TUNG NUOC SAN XUAT, TIM GIA TRI CAO NHAT, THAP NHAT, TRUNG BINH CUA CAC SAN PHAM
SELECT NUOCSX, MAX(GIA) AS GIA_TRI_CAO_NHAT, MIN(GIA) AS GIA_TRI_THAP_NHAT, AVG(GIA) AS GIA_TRI_TRUNG_BINH_CUA_SP FROM SANPHAM GROUP BY NUOCSX;
	-- Câu 35: TINH DOANH THU BAN HANG MOI NGAY
SELECT NGAYHD, SUM(TRIGIA) AS TONG_DOANH_THU FROM HOADON GROUP BY NGAYHD;
	-- Câu 36: TINH TONG SO LUONG CUA TUNG SAN PHAM BAN RA TRONG THANG 10/2006
	SET DATEFORMAT DMY
SELECT COUNT(MASP) AS TONG_SP_BAN_TRONG_THANG_10  FROM CTHD WHERE SOHD IN (SELECT SOHD FROM HOADON WHERE NGAYHD BETWEEN '1.10.2006' AND '31.10.2006');
	-- Câu 37: TINH DOANH THU BAN HANG CUA TUNG THANG TRONG NAM 2006
SELECT MONTH(NGAYHD) AS THANG, SUM(TRIGIA) AS DOANH_THU_TRONG_THANG FROM HOADON WHERE YEAR(NGAYHD)=2006 GROUP BY MONTH(NGAYHD);
	-- Câu 38: TIM HOA DON CO MUA IT NHAT 4 SP KHAC NHAU
SELECT SOHD , COUNT(DISTINCT MASP) AS SO_SP_KHAC_NHAU FROM CTHD GROUP BY SOHD HAVING COUNT(DISTINCT MASP) >= 4 ;
	-- Câu 39: TIM HOA DON CO MUA 3 SP DO VN SX (3 SP KHAC NHAU)
-- NHOSM CAC HOA DON MUA SP CUA VN SX
-- DEM COI CAI NAO CO MA LON HON 3 THIF IN RA
SELECT SOHD, COUNT(DISTINCT CTHD.MASP)AS SO_SP_KHAC_NHAU_DO_VN_SX FROM SANPHAM JOIN CTHD ON SANPHAM.MASP=CTHD.MASP WHERE NUOCSX='Viet Nam'
GROUP BY SOHD HAVING COUNT(DISTINCT CTHD.MASP) >=3;
	-- Câu 40: MAKH, HOTEN KH CO SO LAN MUA HANG NHIEU NHAT
--SELECT MAKH, HOTEN FROM KHACHHANG WHERE MAKH IN (SELECT MAKH FROM HOADON WHERE GROUP BY MAKH);
-- DEM SO HOA DON MUA HANG CUA KHACH HANG
SELECT MAKH, HOTEN FROM KHACHHANG WHERE MAKH =(SELECT TOP 1 MAKH FROM HOADON GROUP BY MAKH ORDER BY COUNT(SOHD)DESC );
	-- Câu 41: THANG MAY TRONG NAM 2006 CO DOANH SO BAN HANG CAO NHAT
SELECT TOP 1 MONTH(NGAYHD) AS THANG_DOANHSO_MAX_NAM_2006
FROM HOADON WHERE YEAR(NGAYHD) = 2006 GROUP BY MONTH(NGAYHD) ORDER BY SUM(TRIGIA) DESC;
	-- Câu 42: MASP, TENSP CO TONG SO LUONG BAN RA THAP NHAT
SELECT MASP, TENSP FROM SANPHAM WHERE MASP = (SELECT TOP 1 MASP FROM CTHD GROUP BY MASP ORDER BY COUNT(SL) ASC);
	-- Câu 43:MOI NUOC SXX TIM SP CO GIA BAN CAO NHAT
SELECT B.NUOCSX, MASP, TENSP
FROM (SELECT NUOCSX, MAX(GIA) AS MAX
FROM SANPHAM
GROUP BY NUOCSX) AS B LEFT JOIN SANPHAM S 
ON S.GIA = B.MAX 
WHERE B.NUOCSX = S.NUOCSX
	-- Câu 44: Tìm nước sản xuất sản xuất ít nhất 3 sản phẩm có giá bán khác nhau.
	-- Câu 45: *Trong 10 khách hàng có doanh số cao nhất, tìm khách hàng có số lần mua hàng nhiều nhất.
SELECT *
FROM KHACHHANG
WHERE MAKH = (SELECT TOP 1 A.MAKH
FROM (SELECT TOP 10 MAKH
FROM KHACHHANG
ORDER BY DOANHSO DESC) AS A
LEFT JOIN 
(SELECT MAKH, COUNT(SOHD) AS SL
FROM HOADON
GROUP BY MAKH) AS B
ON A.MAKH = B.MAKH
ORDER BY SL DESC)